@charset "UTF-8";

/*header*/
.header {
background-color: gray;
}

.header-lg{
padding: 10px;
color: white;
}

.header-date {
padding: 10px;
font-size: 10px;
}


/*main*/
.main{
padding-top: 50px;
padding-bottom: 50px;
}

table td:nth-child(1) {
text-align: center;
}


/*footer*/
.footer {
background-color: gray;
}

.hoge {
display: inline-block;
padding: 10px;
color: white;
}
